<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CURD - Enroll</title>
    <link rel="stylesheet" href="{% static 'enroll/CSS/bootstrap.css' %}">
</head>
<body>
    <div class="container mt-5">

        <h2 class="text-center alert alert-danger">Welcome To Enroll</h2>

        {% block main %}

        {% endblock main %}

    </div>

<script src="{% static 'enroll/JS/bootstrap.js' %}"></script>
<script src="{% static 'enroll/JS/jquery.js' %}"></script>
<script src="{% static 'enroll/JS/popper.js' %}"></script>
</body>
</html>